.blog {
    width: 100%;
    height: auto;
    background-color: $gray-dark;
    display: none;


    .blog-content-row1 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media (max-width:620px) {
            flex-direction: column;
        }
    }

    .post {
        width: 48%;
        box-sizing: border-box;
        position: relative;
        margin-bottom: 40px;
        height: auto;

        @media (max-width:1000px) {
            margin-bottom: 30px;
        }

        @media (max-width:620px) {
            width: 100%;
        }

        &:hover img {
            transform: scale(1.1);
        }

        .post-img {
            position: relative;
            width: 100%;
            height: 80%;
            overflow: hidden;

            @media (max-width:1000px) {
                height: 70%;
            }

            @media (max-width:620px) {
                height: 10%;
            }

            img {
                position: relative;
                width: 100%;
                height: 100%;
                transition: transform .3s;
            }

            .post-link {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
            }
        }

        .post-info {
            position: relative;
            height: 20%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 10px 20px;
            background: $gray;

            @media (max-width:620px) {
                height: 40%;
                padding: 10px 20px;
                margin-top: -5px;
                line-height: 30px;
            }

            .post-date {
                color: $gray-light;
                font-size: 12px;
                font-family: $font-lato, sans-serif;
            }

            .post-title {
                color: $primary;
                font-weight: 400;
                margin-top: 3px;
                width: 100%;
                height: auto;

                @media (max-width:1000px) {
                    font-size: 14px;
                }

                @media (max-width:620px) {
                    font-size: 16px;
                }
            }
        }

        .post-subtitle {
            position: absolute;
            top: 15px;
            left: 15px;
            color: #fff;
            background-color: $gray-dark;
            font-size: 12px;
            font-family: $font-lato, sans-serif;
            padding: 2px 5px;
        }
    }
}

.side-bar-toggle {
    position: fixed;
    top: 25px;
    right: 0px;
    z-index: 100;
    background-color: $gray-dark;
    border: 1px solid $border-gray;
    width: 40px;
    height: 40px;
    transition: all 1s;
    line-height: 40px;
    text-align: center;
    display: none;

    @media (max-width:900px) {
        margin-top: 50px;
    }

    i {
        color: #e5e5e5;
    }
}

.blog-sidebar-content {
    width: 17.7%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 15px;
    display: none;
    font-family: $font-lato, sans-serif;
    background-color: #000;
    box-sizing: border-box;
    z-index: 10;
    transition: all 1s cubic-bezier(0.1, 0.1, 0.1, 1);;
    overflow-y: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    &.sidebar-expanded {
        margin-right: -100%;
    }

    @media (max-width:1200px) {
        background-color: $gray-dark;
        width: 230px;
    }
    @media (max-width:900px) {
        margin-top: 50px;
    }

    .sidebar-item {
        background-color: $gray;
        border: 1px solid $border-gray;
        margin-top: 10px;

        .sidebar-title {
            padding: 5px 10px 0;
            margin: 15px 0 0 0;

            h4 {
                display: inline-block;
                font-size: 17px;
                position: relative;
                color: $primary;
                font-weight: 400;

                &::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background-color: $yellow;
                }
            }
        }

        ul {
            display: inline-block;
            padding: 10px 10px 15px;
            margin: 4px 0;
            color: $secondary;

            li {
                padding-left: 15px;
                margin: 5px 0;
                position: relative;
                color: #aaa;

                &::before {
                    content: "";
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    border-radius: 5px;
                    top: 10px;
                    border: 2px solid $yellow;
                    left: 0;
                    box-sizing: border-box;
                }
            }

            a {
                outline: none;
                text-decoration: none;
                background-color: transparent;
                font-size: 12px;
                color: #e5e5e5;
                font-weight: 300;
                letter-spacing: 0.5px;
            }
        }

    }
}

.article-content {
    width: 77%;
    box-sizing: border-box;
    background: rgba(34, 34, 34, 1);
    padding-bottom: 70px;
    display: none;
    transition: all 1s;


    &.article-content-expanded {
        width: 100%;
    }

    @media (max-width:1200px) {
        background-color: $gray-dark;
        width: 100%
    }

    .article-img {
        img {
            max-width: 100%;

            @media (max-width:900px) {
                margin-top: 50px;
            }
        }
    }

    .entry {
        background: rgba(34, 34, 34, 1);
        position: relative;
        padding-left: 30px;
        padding-right: 30px;
        margin-right: 40px;
        margin-left: 40px;
        margin-top: -70px;
        box-sizing: border-box;

        @media (max-width:900px) {
            margin-right: 0px;
            margin-left: 0px;
            margin-top: 0px
        }


        &-header {
            position: relative;
            width: 80%;
            padding-top: 20px;
            z-index: 1;

            @media (max-width:530px) {
                width: 100%;
            }

            a {
                text-decoration: none;
                color: #9e9e9e;
                font-size: 13px;
                font-weight: 300;
                font-family: $font-lato, sans-serif;
            }

            h2 {
                font-size: 32px;
                color: #fff;
                margin-top: 15px;
                margin-bottom: 15px;
                font-weight: 400;

                @media (max-width:530px) {
                    font-size: 24px;
                }
            }
        }

        &-content {
            p {
                font-family: $font-lato;
                font-size: 14px;
                font-weight: 400;
                line-height: 27px;
                color: $secondary;
                margin-bottom: 10px;
            }
        }

        &-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $gray;
            border: 1px solid $border-gray;
            padding-left: 10px;
            padding-right: 10px;
            margin-top: 30px;

            @media (max-width:900px) {
                align-items: flex-start;
                flex-direction: column;
            }

            .entry-date-author {
                color: #9e9e9e;
                margin-top: 10px;
                margin-bottom: 10px;
                font-size: 14px;

                .entry-date {
                    position: relative;
                    padding-right: 10px;

                    &::before {
                        content: "";
                        position: absolute;
                        right: 0px;
                        width: 1px;
                        height: 100%;
                        background-color: #9e9e9e;
                    }

                    i {
                        margin-right: 5px;
                    }
                }

                .entry-author {
                    padding-left: 10px;
                }
            }

            .entry-social-buttons {
                display: flex;

                @media (max-width:900px) {
                    margin-bottom: 10px;
                }

                a {
                    background-color: #666;
                    color: #fff;
                    margin-right: 5px;
                    padding: 7px;
                    @include flexCentering();
                    transition: background-color .5s;

                    &:hover {
                        background-color: $yellow;
                    }

                    i {
                        font-size: 14px;
                    }
                }
            }
        }

        &-tags {
            margin-top: 30px;

            a {
                text-decoration: none;
                color: $gray-dark;
                background-color: #666;
                border: 1px solid 1px solid transparent;
                border-radius: 3px;
                color: #fff;
                padding: 2px 7px;
                font-size: 12px;
                font-weight: 400;
                font-family: $font-lato, sans-serif;
                transition: background-color .5s;

                &:hover {
                    background-color: $yellow;
                }
            }
        }
    }
}