.contact {
    width: 100%;
    height: auto;
    background-color: $gray-dark;
    margin-top: 10px;
    padding-bottom: 350px;

    .contact-content {
        display: flex;
        flex-direction: column;
    }

    .contact-content-row1 {
        display: flex;
        justify-content: space-between;

        @media (max-width:620px) {
            flex-direction: column;
        }

        .row1-box {
            box-sizing: border-box;
            width: 25%;
            background-color: $gray;
            @include flexCentering(column);
            padding: 20px;
            border: 1px solid #444;
            transition: transform .5s;
            margin-bottom: 40px;

            @media (max-width:1000px) {
                padding: 10px;
            }

            @media (max-width:620px) {
                flex-direction: column;
                width: 100%;
                padding: 20px 10px 15px;
                margin-bottom: 20px;
            }

            &:hover {
                transform: translateY(-5px);
            }

            i {
                font-size: 30px;
                color: $secondary;

                @media (max-width:1000px) {
                    font-size: 22px;
                }

                @media (max-width:620px) {
                    font-size: 30px;
                }


            }

            h4 {
                color: $primary;
                font-weight: 400;
                margin-top: 10px;
                text-align: center;

                @media (max-width:1000px) {
                    font-size: 13px;
                }

                @media (max-width:620px) {
                    font-size: 16px;
                    margin-top: 20px
                }

            }

        }

        .row1-box+.row1-box {
            margin-left: 20px;

            @media (max-width:620px) {
                margin-left: 0px;
            }
        }
    }

    .contact-content-row2 {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
        margin-top: 20px;

        @media (max-width:620px) {
            flex-direction: column;
        }

        .row2-box {
            width: 50%;
            box-sizing: border-box;

            @media (max-width:620px) {
                width: 100%;
            }
        }

        iframe {
            width: 100%;
            height: 300px;
            margin-top: 20px;

            @media (max-width:620px) {
                height: 70vw;
                margin-bottom: 30px;
            }
        }

        

        .row2-box2-form {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 20px;

            .form-item {
                position: relative;
                margin-bottom: 20px;


                .form-input {
                    width: 100%;
                    background: none;
                    outline: none;
                    border: 1px solid #444;
                    padding: 10px;
                    box-sizing: border-box;
                    color: $secondary;
                    font-family: 'Lato', sans-serif;
                    position: relative;

                    &:focus+.form-control {
                        right: 0;
                        left: 0;
                    }
                }

                .form-input.has-error+.form-control {
                    background: red;
                }

                .form-control {
                    position: absolute;
                    bottom: 0;
                    right: 50%;
                    left: 50%;
                    height: 1px;
                    width: auto;
                    background-color: $yellow;
                    transition: all .5s
                }

                .form-error-msg {
                    position: absolute;
                    bottom: -20px;
                    left: 8px;
                    font-size: 12px;
                    padding: 3px;
                    background-color: red;
                    color: $primary;
                    font-family: 'Lato', sans-serif;
                    visibility: hidden;

                    &::after {
                        content: "";
                        position: absolute;
                        top: -10px;
                        left: 6px;
                        border-top: 10px solid transparent;
                        border-left: 10px solid red;
                    }
                }
            }


        }

        .submit-info{
            background-color:#d4edda;
            border-color: #c3e6cb;
            padding-left: 15px;
            padding-right: 15px;
            border-radius: 5px;
            margin-bottom: 20px;
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            display: none;
           
            .submit-message{
                color: #155724;
                font-family: 'Lato', sans-serif;
                font-size: 14px;
                padding-right: 20px;

                @media (max-width:1000px) {
                    font-size: 13px;
                    line-height: 20px;
                }
            }
            
            .message-close{
                outline: none;
                border: none;
                background: transparent;
                color: #000;
                font-weight: 700;
                opacity: 0.5;
                font-size: 32px;
                cursor: pointer;
                
            }
        }   
    }
}