.portfolio {
    width: 100%;
    height: auto;
    background-color: $gray-dark;
    margin-top: 10px;

    .portfolio-filter {
        margin-right: 0;
        text-align: right;
        padding: 7px;
    }

    .portolio-content-row2 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        @media (max-width:620px) {
            flex-direction: column
        }
        
    }

    .project {
        width: 50%;
        padding: 7px;
        box-sizing: border-box;
        position: relative;

        @media (max-width:620px) {
            width: 100%;
        }

        &.active {
            display: block;
        }

        &:hover img {
            transform: scale(1.1);
        }

        &:hover .project-subtitle {
            opacity: 1;
        }

        .project-img {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;

            img {
                position: relative;
                width: 100%;
                height: 100%;
                transition: transform .3s;
            }
        }

        .project-link {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        .project-title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #000;
            pointer-events: none;

            @media (max-width:1000px) {
                font-size: 20px;
            }
        }

        .project-subtitle {
            position: absolute;
            top: 15px;
            left: 15px;
            opacity: 0;
            color: #000;
            pointer-events: none;
            background-color: $secondary;
            padding: 3px 10px;
            transition: opacity .5s;
        }
    }
}